<!DOCTYPE html>
<html>
  <head>
    <title>readmore.de user map</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/smoothness/jquery-ui.css'>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js'></script>
    <script src='http://malsup.github.com/jquery.form.js'></script>
    <script src='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js'></script>
    <script src='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/i18n/jquery-ui-i18n.min.js'></script>
    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
    <script src='/javascripts/signin.js'></script>
    <script src='/javascripts/map.js'></script>
    <script>function init() {
      userid = <%= userid %>;
      initSignin(userid);
      initMap(userid);
    }</script>
  </head>
  <body onload='init()'>
    <h1 style='display:none;'>rm user map</h1>
    <div id='map_canvas'></div>
    <% include signin %>
  </body>
</html>
