<!DOCTYPE html>
<html>
  <head>
    <title>readmore.de user map</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/smoothness/jquery-ui.css'>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js'></script>
    <script src='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js'></script>
    <script src='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/i18n/jquery-ui-i18n.min.js'></script>
    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
    <script>
      function initialize() {
        var mapOptions = {
          zoom: 6,
          disableDoubleClickZoom: true,
          center: new google.maps.LatLng(51.165, 10.455278),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(document.getElementById('map_canvas'),
                                      mapOptions);

        function pointsToMarkers(data) {
          $.each(data, function(key, val) {
            var marker = new google.maps.Marker({
              position: new google.maps.LatLng(val.loc[0], val.loc[1]),
              map: map,
              title: val.nick,
              draggable: <%= userid %> == val.userid,
              _id: val._id
            });

            google.maps.event.addListener(marker, 'dragend', updatePoint);
          });
        }

        function createPoint(event) {
          console.debug(event.latLng.lat());
          console.debug(event.latLng.lng());
          $.ajax({
            url: '/json/',
            type: 'POST',
            data: {
              lat: event.latLng.lat(),
              lng: event.latLng.lng()
            },
            success: pointsToMarkers
          });
        }

        function updatePoint() {
          console.debug(this._id);
          console.debug(this.getPosition().lat());
          console.debug(this.getPosition().lng());

          $.ajax({
            url: '/json/' + this._id,
            type: 'PUT',
            data: {
              lat: this.getPosition().lat(),
              lng: this.getPosition().lng()
            }
          });
        };

        $.getJSON('/json', pointsToMarkers);

        google.maps.event.addListener(map, 'dblclick', createPoint);
      }
    </script>
  </head>
  <body onload='initialize()'>
    <h1 style='display:none;'>rm user map</h1>
    <div id='map_canvas'></div>
  </body>
</html>
