<div id='signin-form' title='Einloggen'>
  <form method='post' action='signin'>
  <fieldset>
    <label for='email'>E-Mail-Adresse</label><br>
    <input type='email' name='email' autofocus style='ui-widget-content ui-corner-all'>
    <label for='password'>Passwort</label><br>
    <input type='password' name='password' style='ui-widget-content ui-corner-all'>
    <input type='hidden' name='_mode' value='post'>
  </fieldset>
  </form>
</div>
