<div id='signin-form' title='Einloggen'>
  <form method='post' action='signin'>
  <fieldset>
    <label for='email'>E-Mail-Adresse</label><br>
    <input type='email' name='email' autofocus style='ui-widget-content ui-corner-all'>
    <label for='password'>Passwort</label><br>
    <input type='password' name='password' style='ui-widget-content ui-corner-all'>
    <input type='hidden' name='_mode' value='post'>
  </fieldset>
  </form>
  <p class='disclaimer'>
     Melde dich einfach mit deinen Daten von <a href='http://www.readmore.de'>readmore.de</a> an.
     Weder E-Mail-Adresse noch Passwort werden gespeichert, sondern nur dein rm-Nickname und deine rm-Userid.
     Der komplette Quellcode für <a href='//github.com/hangy/rm-map/blob/master/routes/signin.js'>diese Seite</a> und <a href='//github.com/hangy/rm-login/blob/master/main.js'>den Login</a> ist frei verfügbar.
  </p>
</div>
